@import url("http://fonts.googleapis.com/css?family=Titillium+Web:400,300");
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
body {
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-family: "Titillium Web", sans-serif;
}
canvas {
    top: 0px;
    position: absolute;
}
section {
    height: 100%;
}
section#visualization {
    display: none;
}
section#tronScreen {
    display: none;
}
section#search {
    display: none;
}
section#intro {
    background-color: transparent;
    height: 100%;
    background-size: 15px 15px;
    text-align: center;
}
section#intro .page {
    font-family: "Titillium Web", sans-serif;
    width: 800px;
    height: 530px;
    top: 45%;
    left: 50%;
    margin-top: -265px;
    margin-left: -400px;
    position: absolute;
    text-align: center;
}
section#intro .page h1 {
    margin-bottom: 0px;
    color: white;
    font-weight: 300;
    font-size: 35px;
    letter-spacing: 4px;
}
section#intro .page h2 {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 0px;
    color: rgb(166, 186, 226);
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 4px;
}
section#intro .page h3 {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
    color: rgb(166, 186, 226);
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
section#intro dd {
    display: inline-block;
    text-align: center;
    -webkit-margin-start: 0px;
    margin-bottom: 20px;
}
section#intro ul {
    transition-property: left, opacity;
    transition-duration: 800ms, 100ms;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1), cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 0;
    padding: 0px 10px;
    position: relative;
    color: white;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    font-size: 20px;
    line-height: 32px;
    height: 31px;
    width: auto;
    overflow: hidden;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.cell-left {
    display: table-cell;
    left: 10vw;
    bottom: 10vh;
    position: absolute;
    opacity: 0.5;
}
.cell-left span {
    font-family: Georgia;
    font-size: 1.3em;
}
.cell-left span span {
    font-family: Georgia;
    font-size: 1.5em;
}
.cell-right {
    display: table-cell;
    right: 7vw;
    bottom: 7vw;
    position: absolute;
}
.movingBg {
    background: url("/archetron/img/bg_pattern.gif") repeat, radial-gradient(at 50% 100%, rgb(36, 102, 85) 0%, rgb(11, 37, 60) 55%, rgb(24, 8, 36) 90%) 0% 100% / 150% 100%;
    animation: AnimationName 100s linear infinite;
    user-select: none;
}
.pull-left {
    float: left;
}
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
ul li {
    margin-left: 5px;
    margin-right: 5px;
}
.list {
    width: auto;
    display: inline;
    position: fixed;
    top: 0px;
    height: 100%;
}
.data-list {
    height: 100%;
    display: grid;
}
.list-icon {
    float: left;
    padding: 0.4em;
    height: 0.8em;
    width: 0.8em;
    margin-bottom: 2px;
    background-color: rgba(0, 0, 0, 0.498039);
}
.list-icon span {
    text-indent: -9999px;
    border-radius: 100%;
    width: 0.7em;
    height: 0.7em;
}
.lead .list-icon {
    background: none !important;
}
#outer-arc .lead .list-icon span {
    width: 0.4em;
    height: 0.4em;
    border-width: 0.2em;
    border-style: solid;
    border-color: rgb(239, 194, 79) rgb(107, 170, 25) rgb(107, 170, 25) rgb(239, 194, 79);
    margin-top: 0px;
    position: absolute;
}
#inner-arc .lead .list-icon span {
    width: 0.4em;
    height: 0.4em;
    border: 0.2em solid white;
    margin-top: 0px;
    position: absolute;
}
.list p {
    font-family: "Titillium Web", sans-serif;
    font-size: 2em;
    background: url("../img/blackGrad.png") repeat-x;
    text-align: center;
    border-bottom: 1px dotted rgb(255, 255, 255);
    height: 7%;
    padding-top: 2px;
    margin-bottom: 0px;
}
.list-title {
    transition: opacity 0.3s ease-out, margin 0.3s ease-out;
    background: rgba(0, 0, 0, 0.498039);
    font-size: 0.8em;
    opacity: 0;
    padding: 0.25em 0.5em 0.25em 0.25em;
    height: 1.5em;
    margin: 0px 0px 0px -20px;
    float: left;
    overflow: hidden;
    border-radius: 0px !important;
}
.lead .list-title {
    background: white;
    font-weight: bold;
    color: black;
}
.list ul li:hover .list-title,
.list ul li:focus .list-title {
    opacity: 1;
    margin: 0px;
    transition: opacity 0.05s ease-in, margin 0.05s ease-in;
}
.list ul {
    height: 50%;
}
.list ul#inner-arc {
    transform: translateY(60%);
}
.list ul li {
    cursor: pointer;
    font-family: "Titillium Web", sans-serif;
    font-size: 1.6em;
    clear: both;
    outline: none;
    height: 1.5em;
    margin: 0px 0px 5px;
    float: left;
}
.list ul li.lead {
    cursor: default;
}
.list ul li span {
    display: inline-block;
    float: left;
}
.list ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
#searchScreen {
    margin: 0px auto;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 1;
    font-family: "Titillium Web", sans-serif;
    background-color: rgba(0, 0, 0, 0.498039);
}
#pageTitle {
    height: 50%;
    text-align: center;
    font-size: 7em;
    cursor: pointer;
}
#pageTitle p {
    margin: 0px auto;
    top: 60%;
    position: relative;
}
#container {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 50%;
    overflow: hidden;
}
.leftScreen,
.rightScreen {
    width: 50%;
    float: left;
    margin: 0px auto;
    height: 100%;
}
.voicePanel {
    height: 100%;
}
.voicePanel .animate {
    animation: voicePanelShadow 1.5s linear infinite running;
}
.forms {
    margin-top: 6%;
    text-align: center;
    margin-bottom: 5%;
    width: 100%;
    height: 10%;
}
.forms .topPanel {
    float: left;
    display: inline;
    width: 100%;
    height: 4vw;
}
.forms .textarea {
    outline-style: none;
    height: 100%;
    border-radius: 5vh;
    width: 33vw;
    border: 2px solid rgb(51, 102, 255);
    background: 10px 3px / 1.2em no-repeat rgb(255, 255, 255);
    font-size: 1.8em;
    float: left;
    padding-left: 2em;
}
.forms a.button {
    float: left;
    width: 4vw;
    margin-left: 2vw;
    height: 4vw;
}
.datalist {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    text-align: center;
}
.datalist object {
    width: 80%;
}
.datalist ul {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 1%;
    height: 5vh;
}
.datalist ul:nth-child(2n) {} .datalist ul li {
    display: inline-block;
    width: 4vh;
    height: 3.7vh;
    color: rgb(51, 102, 255);
    border-radius: 50%;
    background: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.8em;
    font-weight: normal;
    margin-left: 1vw;
    cursor: pointer;
    border: 2px solid rgb(51, 102, 255);
    box-shadow: white 0px 0px 0px 2px inset;
    padding-top: 0.3vh;
}
.datalist ul li a {
    margin-top: 2%;
}
.datalist ul:nth-child(3) {} .datalist ul:nth-child(4) li {
    width: 60%;
    height: 95%;
    border-radius: 10vh;
    margin-top: 1%;
}
.searching {
    margin: 0px auto;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 1;
    display: none;
    text-align: center;
    font-family: "Titillium Web", sans-serif;
    background-color: rgba(0, 0, 0, 0.498039);
}
.searching h2 {
    position: relative;
    top: 25%;
    font-size: 6em;
}
.suggest {
    display: none;
    max-height: 50%;
    position: absolute;
    width: 32%;
    background-color: white;
    overflow: auto;
    margin-left: 1%;
    bottom: 46%;
    border-radius: 5px;
    z-index: 16;
}
.suggest ul {
    width: 96%;
    background-color: rgb(255, 255, 255);
    margin: 5px 0px;
}
.suggest ul li {
    width: 98%;
    font-size: 1.3em;
    border-bottom: 1px solid grey;
    height: 8%;
    padding: 10px 0px 10px 10px;
    cursor: pointer;
    background-color: rgb(51, 102, 255);
    color: rgb(255, 255, 255);
    font-weight: normal;
    border-radius: 5px;
    margin-bottom: 2px;
}
.suggest ul li:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(51, 102, 255);
}
#tronScreen {
    margin: 0px auto;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 1;
    display: none;
    font-family: "Titillium Web", sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
}
#tronScreen .tronNames{
    WIDTH: 25%;
    HEIGHT: auto;
    float: left;
    top: 50%;
    transform: translateY(-50%);
    position: fixed;
}
.tronContainer{
    
}
.tronContainer object{
        width: 25%;
    margin-left: 25%;
    float: left;
    top: 50%;
    transform: translateY(-50%);
    position: fixed;
}

.tsBottom .LeftBottom,.tsBottom .rightBottom{
    float: left;
    width: 50%;
    height: 50%;
    display: inline;
}
.tsTop {
    width: 100%;
    float: left;
    height: 50%;
}
.tsright{
    width:50%;
    float:left;
    height:100%;
}
.wordCloud{
    width:100%;
    height:100%;
    position:relative;
}
.Upper,
.Lower {
    width: 98%;
    height: 50%;
    position: relative;
}
.Lower {} .Lower .arrowlist ul li {
    border-left: 0px;
}
.Upper .arrowlist ul {
    margin-left: 18%;
    margin-top: 10%;
}
.Lower .arrowlist {
    margin-top: 0px;
}
.Lower .arrowlist ul {
    float: right;
}
.Tron {
    width: 50%;
    height: 50%;
    margin: 0px auto;
    text-align: center;
}
.Uppertext {
    width: 100%;
    height: 30%;
    margin-top: 4vh;
}
.Upperdata {
    height: 100%;
}
.Uppertext h2 {
    font-size: 2.8em;
    text-align: center;
    text-decoration: none;
    margin: 0px;
}
.Lower h1 {
    font-size: 2.5em;
    text-align: center;
    margin: 0px;
}
.Lower .type {
    color: rgb(236, 201, 32);
    display: inline;
    text-transform: uppercase;
}
.info {
    height: 20%;
    margin: 0px auto;
    width: 80%;
    text-align: center;
    text-transform: uppercase;
}
.info h2:nth-of-type(1),
.info p {
    font-size: 2em;
    margin: 0px 4% 0px 0px;
    text-decoration: underline;
}
.cluster {
    text-align: center;
    font-size: 1.6em;
    margin: 0px;
}
.info p {
    font-size: 2em;
}
.infoRate {
    height: 80%;
    margin: 5vh auto 0px;
    width: 90%;
}
.infoRate h2 {
    font-size: 2em;
    margin: 0px;
}
#ratingEntropy,
#ratingVariance {
    width: 50%;
    margin: 0px auto;
    display: inline-block;
}
.infoRate ul {
    width: 90%;
    height: 100%;
    margin-top: 10px;
    margin-left: 10px;
}
.infoRate ul li {
    float: left;
    margin: 0px;
}
.Tron svg {
    display: block;
    margin: 0px auto;
    padding-top: 4vh;
}
#keyboard {
    margin-top: 5%;
    width: 90%;
}
a.button {
    background: rgba(255, 255, 255,.7);
    border: none;
    border-radius: 900px;
    color: rgb(25, 25, 25);
    cursor: pointer;
    display: block;
    width: 130px;
    height: 130px;
    font-size: 1.2em;
    font-weight: normal;
    font-family: "Titillium Web", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin: auto;
}

a.button.red{
    background: rgb(205, 0, 0);
    color: white;
    font-size: 2.5em;
}
a.button.blue{
    background: #3366FF;
    color: white;
    font-size: 2.5em;
}

a.button.red::before {
    border: 2px solid rgb(205, 0, 0);
    box-shadow: rgba(205, 0, 0, 0.14902) 0px 0px 15px, rgba(255, 255, 255, 0.14902) 0px 0px 15px inset;
}
a.button.blue::before {
    border: 2px solid #3366FF;
    box-shadow: rgba(50, 100, 255, 0.14902) 0px 0px 15px, rgba(255, 255, 255, 0.14902) 0px 0px 15px inset;
}

a.button:hover {
    color: white;
    background: rgba(255, 255, 255,.2);
}
a.button:hover::before {
    width: 120%;
    height: 120%;
    margin-left: -61.5%;
    margin-top: -61.5%;
    opacity: 1;
    transform: scale(1.05);
}
a.button::before {
    border-radius: 400px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: rgba(255, 255, 255, 0.14902) 0px 0px 15px, rgba(255, 255, 255, 0.14902) 0px 0px 15px inset;
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 110%;
    height: 110%;
    margin-left: -56.5%;
    margin-top: -56.5%;
    opacity: 1;
    transform: scale(1);
    transition: all 300ms cubic-bezier(0.115, 0.86, 0.355, 1);
}
a.button span {
    margin-top: 50%;
    position: absolute;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
}
a.button span > img {
    height: 100%;
    width: 100%;
}
.rightBottom{
    width:100%;
    height:50%;
    position:relative;
}
.rightBottom a.button {
    top: 50%;
    transform: translateY(-50%);
}
.cell-right a.button {
    font-size: 1.3em;
}
.voicePanel a.button {
    top: 50%;
    width: 130px;
    height: 130px;
    transform: translateY(-50%);
    font-size: 4em;
}
.voicePanel a.button:hover::before {
    transform: none;
    width: 110%;
    height: 110%;
    margin-left: -57.5%;
    margin-top: -57.5%;
}
.voicePanel a.button::before {
    border: none;
    box-shadow: none;
}
.voicePanel a.button:hover {
    background: rgba(255, 255, 255,.7);
    color: rgb(25, 25, 25);
    cursor: default;
}
.dg li.save-row .button {
    display: inline-block;
    padding: 0px 6px;
}
.dg li.save-row .button {
    margin-left: 5px;
    margin-top: 1px;
    border-radius: 2px;
    font-size: 9px;
    line-height: 7px;
    padding: 4px 4px 5px;
    background: rgb(197, 189, 173);
    color: rgb(255, 255, 255);
    text-shadow: rgb(176, 165, 143) 0px 1px 0px;
    box-shadow: rgb(176, 165, 143) 0px -1px 0px;
    cursor: pointer;
}
.dg li.save-row .button:hover {
    background-color: rgb(186, 177, 158);
    box-shadow: rgb(176, 165, 143) 0px -1px 0px;
}

/*animations*/
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}   
}

@-webkit-keyframes voicePanelShadow 
{
    0%{box-shadow: 0 0 0 5px black, 0 0 0 7px #ffffff;}
    25%{box-shadow: 0 0 0 12px black, 0 0 0 16px #ffffff;}
    50%{box-shadow: 0 0 0 15px black, 0 0 0 17px #ffffff;}
    75%{box-shadow: 0 0 0 12px black, 0 0 0 16px #ffffff;}
    100%{box-shadow: 0 0 0 5px black, 0 0 0 7px #ffffff;}
}